
color-text-grey = #ccc
color-text-white = #fff
color-text-grey-light = #e7e7e7
color-text-grey-light-1 = #939393

color-text-grey-light-3 = #f2f3f8
color-text-grey-dark = #5d6a6e
color-text-grey-dark-1 = #4b5558

color-grey-dark-1 = #41474c
color-grey-dark-2 = #323438
color-red = #ff2222

font($size = 13px, $weight = normal, $color = $c-black, $height = 13px, $spacing = 0)
  font-size $size
  font-weight $weight
  color $color
  line-height $height
  letter-spacing $spacing